@{
    ViewBag.Title = "About";
}
@Styles.Render("~/Content/homepage.css")
<h3>@ViewBag.Message</h3>
<img src="~/Content/images/aboutlogo.jpg" />

<h1>With you today, for a better tomorrow</h1>
<p>Over 15.5 million people in the UK choose us to protect their belongings and help plan their future.</p>
<p>That future – and the things you want to achieve in between – can seem a long way off. But the small steps you take now will make a big difference later.</p>
<p>With each step you take, we'll be right there beside you – helping you put one foot in front of the other towards a brighter, better future.</p>

