@{
    ViewBag.Title = "Contact";
}
@Styles.Render("~/Content/homepage.css")

<h2 id="contact">Contact us</h2>
<p>
    Using your account (online or through the app) is the quickest way to make changes to your insurance, or get help if you break down. But if you need to speak to someone for any reason, you can still get in touch with us over email or on the phone.
</p>
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>